@model PackagesViewModel

@await Component.InvokeAsync("SiteHeader")

<main class="page container">
    @using (Html.BeginForm("Index", "Home"))
    {
        <input type="hidden" asp-for="@Model.Packages"/>
        @await Component.InvokeAsync("SubmitButtons")
        @* @await Component.InvokeAsync("TabNavigation", new { hasQueryString = Model.HasQueryString, numberOfPackages = Model.AllPackages?.Count ?? 0 }) *@
        <div class="tab-content">
            @await Component.InvokeAsync("Packages", Model)
            @await Component.InvokeAsync("InstallScript", new { hasQueryString = Model.HasQueryString, packagesViewModel = Model })
            @* @await Component.InvokeAsync("Options", Model) *@
            @await Component.InvokeAsync("PopularScripts")
            @await Component.InvokeAsync("About")
            @await Component.InvokeAsync("Coffee")
            @await Component.InvokeAsync("Hosting")
            @await Component.InvokeAsync("UmbracoVersions")
        </div>
    }
</main>