<header id="site-header">
    <div class="container site-header-inner">
        <div class="brand">
            <h1><span>Package</span><span>Script</span><span>Writer</span></h1>
            <div class="author">
                by Paul Seal
                <span class="sparkle sparkle1">✦</span>
                <span class="sparkle sparkle2">✦</span>
                <span class="sparkle sparkle3">✦</span>
                <span class="sparkle sparkle4">✦</span>
            </div>
        </div>
        @await Component.InvokeAsync("TabNavigation", new { hasQueryString = Model.HasQueryString, numberOfPackages = Model.AllPackages?.Count ?? 0 })
    </div>
</header>